body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
}

.header {
    background: linear-gradient(to right, #0f3d0f, #1f5e1f);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px; 
}

.logo {
    height: 60px;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.main{
    text-align: center;
    margin-top: 60px;
}

main h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

main h2{
    font-size: 22px;
    margin-bottom: 30px;
}

.main img{
    width: 250px;
    margin-top: 20px;
}

.footer{
    text-align: center;
    margin-top: 40px;
    color: gray;
    font-size: 14px;
}